
.section{
    padding: 60px 0;

   
  }
p{
  line-height: 29px;
}
h1, h2, h3, h4, h5, h6{
  font-family: $headingFont;

}
  .sec-title{
      font-size: 36px; text-transform: uppercase; letter-spacing: 0.5px;
      color: $text-dark; margin-bottom: 24px;
      font-weight: 600;
      font-family: $headingFont; line-height: 50px;

      span{
        color: $primary-color;
      }
  }
  
  .h2-title{
    font-size: 32px;  color: $text-dark; margin-bottom: 16px; 
    font-family: $headingFont;

  }
  .h3-title{
      font-size: 24px; text-transform: capitalize;
      color: $title-color; margin-bottom: 16px;  font-weight: $semi-bold;
      font-family: $headingFont;
  }
  .h4-title{
      font-size: 22px; text-transform: capitalize;
      color: $text-dark; margin-bottom: 16px;  font-weight: $semi-bold;
      font-family: $headingFont;
  }
  .sub-title{
      color: $primary-color; font-size: 18px; margin-bottom: 24px;
      font-family: $headingFont; font-weight: 500; letter-spacing: 0.5px;
      display: inline-block;
      padding: 5px 70px 5px 60px;  border-radius: 23px;
      position: relative;
      

      &::after{
        content: "";
        position: absolute;
        width: 60px; height: 20px;
       // border: $primary-color dashed 1px;
        border-top: $primary-color 1px dashed;  border-right: $primary-color 1px dashed;
        right: 0px;
        top: 17px; margin-left: 10px;
      }

      &::before{
        content: "";
        position: absolute;
        width: 50px; height: 20px;
       // background: $primary-color;
       border-left: $primary-color 1px dashed; 
        border-bottom: $primary-color 1px dashed;
        left: 0px;
        bottom: 12px; margin-left: 0px;
      }
  }
  
  
  .btn-primary{
      background: $primary-color; color: $text-light;
      padding: 10px 24px; border-radius: 2px; border: none; text-transform: uppercase;
      font-weight: 500; box-shadow: none !important;
      font-size: 16px;
      border: transparent 1px solid;
      
      &:hover{
          background: $secondary-color; color: $text-light;
          border: $secondary-color 1px solid;
      }
      
      &:focus{
          background: $secondary-color; color: $text-light;border: $secondary-color 1px solid;
      }
  }

  .btn-secondary{
    background: $secondary-color; color: $primary-color;
    padding: 5px 24px 5px 24px; border-radius: 2px; border: transparent 1px solid;
    font-weight: 600; box-shadow: none !important;
    font-size: 16px; text-transform: uppercase;
    letter-spacing: 0.5px;

    span{
      //background: $primary-color; 
      display: inline-block;
      padding: 8px 5px; border-radius: 2px;
    }
    &:hover{
        background: $light-bg; color: $primary-color !important;
        border: $border-theme 1px solid;
    }
    &:hover .svg-white{
      filter: brightness(0) saturate(100%) invert(37%) sepia(41%) saturate(413%) hue-rotate(350deg) brightness(92%) contrast(89%);
    }
    &:focus{
        background: $secondary-color; color: $primary-color !important;
    }
}
  
  @media screen and (max-width:991px) {
     .section{
      padding: 30px 0;
     }  
     
     .sec-title{
      font-size: 28px; margin-bottom: 20px;
      line-height: 32px;
     }
     .h2-title{
      font-size: 24px;
     }
     .h3-title{
      font-size: 20px;
     }

     .h4-title{
      font-size: 18px;
     }

    .sub-title{
       font-size: 13px; margin-bottom: 16px;
       font-weight: 500; letter-spacing: 0px;
      display: inline-block;
      padding: 5px 45px 5px 45px;  border-radius: 23px;
      border-radius: 23px;

      &::after{
        content: "";
        position: absolute;
        width: 40px; height: 20px;
       // border: $primary-color dashed 1px;
        border-top: $primary-color 1px dashed;  border-right: $primary-color 1px dashed;
        right: 0px;
        top: 13px; margin-left: 10px;
      }

      &::before{
        content: "";
        position: absolute;
        width: 40px; height: 20px;
       // background: $primary-color;
       border-left: $primary-color 1px dashed; 
        border-bottom: $primary-color 1px dashed;
        left: 0px;
        bottom: 12px; margin-left: 0px;
      }

    }

    .btn-primary{
        font-size: 14px; letter-spacing: 1px;  padding: 10px 16px;
    }
  }
  
  .more-link{
    color: $text-color; text-transform: capitalize;
    font-size: 15px;
    &:hover{
      color: $primary-color;
    }
 }


  .svg{
   margin-right: 6px;
  }
  .svg-white{
    filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(7500%) hue-rotate(173deg) brightness(98%) contrast(99%);
  }

  .svg-primary{
    filter: $primary-filter;
    }
  .light-bg{
    background: $secondary-color;
  }
  
  .des-text{
    border-left: $primary-color 3px solid;
    padding: 0 0 0 10px;margin: 0 0 16px 10px;
  }