@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color:#06605B;
$secondary-color:#000;

$text-dark:#000;
$text-color:#35312F;
$text-light:#f4f4f4;
$text-gray:#8A8A8A;
$text-secondary: #C89A48;
$text-extra-light:#D6D5D4;

$text-form:#FDE4F2;
$border-dark: #777777;
$border-light:#E5E5E5;
$border:#F9CEE7;
$border-theme: #FBF4F0;
$fontFamily: "Noto Sans", sans-serif;
$headingFont: "Montserrat", sans-serif;


$white-bg:#FFFFFF;
$title-color:#24201B;

$bold:600;
$semi-bold:500;

$regular-font:16px;
$small-font:14px;
$ex-small-font:13px;

$primary-filter: brightness(0) saturate(100%) invert(26%) sepia(16%) saturate(5528%) hue-rotate(146deg) brightness(92%) contrast(95%);
$white-filter:brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(10%) hue-rotate(68deg) brightness(119%) contrast(91%);
$icon-bg2: #666;


$light-bg:#F1FAF9;
$light-bg2:#E5EDDF;
$light-bg3:#F9CEE7;
$light-bg4:#F4B8DA;


$h2font: 26px;
$h4font: 18px;
